@font-face {
  font-family: 'Fira Code';
  src: url('./fonts/FiraCode-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.App {
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Fira Code', monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f8f8f8;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

#about-me{
  flex: 1;
  max-width: 50rem;
  margin: 1.25rem auto;
  padding: 1.25rem;
  background-color: #fff;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
}

#about-me p {
  font-size: 1.3rem;
  font-weight: 1500;
  line-height: 1.6;
}

#profile-picture > img {
  height: 60%;
  width: 60%;
}

#knowledge-container-placement {
  display: flex;
  justify-content: center;
  align-items: center;
}

#portfolio{
  flex: 1;
  max-width: 70rem;
  margin: 1.25rem auto;
  padding: 1.25rem;
  background-color: #fff;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
}

.portfolio-item {
  margin-bottom: 1.25rem; /* 20px in rem umgerechnet */
}

.portfolio-item h3 {
  color: #007bff;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #333;
  color: #fff;
  margin-top: auto;
}



